Release: "dev"
Mysql:
  Host: "mysql"
  Port: 3306
  User: root
  Password: "123456"
  Database: "toktik"
Minio:
  Endpoint: "minio:9000"
  Access_Key: "admin"
  Secret_Key: "Aa112211"
  Video_Bucket: "video"
  Cover_Bucket: "cover"